<header id="worlds_birth">
	<div>
		<hgroup>
			<h1>Responsable + Mixture</h1>
		</hgroup>
		<nav>
			<ul>
				<li><a href="#type">Type</a></li>
				<li><a href="#tables">Tables</a></li>
				<li><a href="#forms">Forms</a></li>
				<li><a href="#grid">Grid</a></li>
			</ul>
		</nav>
	</div>
</header>